<script>
    import { onMount } from "svelte";

    import Header from "./Header.svelte"
    import Hand from "./Hand.svelte"
    import Board from "./Board.svelte"

    let board;
    let hand;
    let score;
    let game_over;

    $: fade_hand = game_over ? 'opacity-5' : ''

    let hand_index = null;
    let board_position = null;

    const restartGame = async () => {
        fetch("http://localhost:8000/game/new")
        .then(response => response.json())
        .then(data => {
            board = data.board;
            hand = data.hand;
            score = data.score;
            game_over = data.game_over;
        }).catch(error => {
            console.error(error);
        });
    }
    onMount(restartGame);

    const saveGame = async () => {
        fetch("http://localhost:8000/game/save")
        .then(response => response.json())
        .catch(error => {
            console.error(error);
        });
    }

    const onSelectPiece = (index) => {
        hand_index = index;
    }
    const onClickCell = (row_index, col_index) => {
        board_position = [row_index, col_index];
        submitTurn(hand_index, board_position)
    }

    const submitTurn = async (hand_index_, board_position_) => {
        if (hand_index_ != null  && board_position_ != null) {
            fetch(
                "http://localhost:8000/game/turn",
                {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'hand_index': hand_index_,
                        'board_position': board_position_
                    })
                }
            )
            .then(response => response.json())
            .then(data => {
                board = data.board;
                hand = data.hand;
                score = data.score;
                game_over = data.game_over;
            }).catch(error => {
                console.error(error);
            });
        }
    } 

    const submitHand = async (pieces) => {
        fetch(
            "http://localhost:8000/game/hand",
            {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    pieces
                })
            }
        )
        .then(response => response.json())
        .then(data => {
            board = data.board;
            hand = data.hand;
            score = data.score;
            game_over = data.game_over;
        }).catch(error => {
            console.error(error);
        });
    }

    const onFileSelected = (files) => {
        if (!files) {
            return
        }
        let file = files[0]
        if (!file) {
            return
        }

        let reader = new FileReader();
        reader.onload = onReaderLoad;
        reader.readAsText(file);
    }

    const onReaderLoad = async (event) => {
        let history = JSON.parse(event.target.result);
        submitHand(history[0].pieces)

        let obj;
        for (let i = 1; i < history.length; i++) {
            obj = history[i];

            if (obj.type === 'Hand') {
                await submitHand(obj.pieces);
            }
            else if (obj.type == 'Turn') {
                await new Promise(r => setTimeout(r, 1000));
                await submitTurn(obj.piece_index, obj.origin);
            }
            else {
                alert(`ERROR: Unknonw type: "${obj.type}"`)
            }
        }

    }
</script>

<div class='h-screen w-screen bg-slate-900'>
    <div class="h-14 min-w-full">
        <Header score={score} onRestartGame={restartGame} onFileSelected={onFileSelected} onDownloadGame={saveGame}/>
    </div>
    <div class="h-4/6 min-w-full">
        <Board board={board} onClickCell={onClickCell}/>
    </div>
    <div class="h-1/6 min-w-full {fade_hand}">
        <Hand pieces={hand} onSelectPiece={onSelectPiece}/>
    </div>
</div>
