<script>
    import Grid from "./Grid.svelte";


    export let board = new Array(10).fill(0).map(() => Array(10));
    export let onClickCell = () => {};
</script>

<div class="flex flex-row">
    <div class="flex-grow"></div>
    <div>
        <Grid matrix={board} hide_empty={false} cols={"10"} size={"96"} onClickCell={onClickCell}/>
    </div>
    <div class="flex-grow"></div>
</div>
