<script>
    import Piece from "./Piece.svelte";

    export let matrix;
    export let cols;
    export let size;
    export let hide_empty = false;

    export let onClickCell = () => {};

    // Make empty cells the same color as the background
    $: if (hide_empty && matrix) {
        matrix = matrix.map(
            row => row.map(
                elem => (elem === 0) ? 100 : elem
            )
        )
    }
</script>



<div class="grid grid-cols-{cols} gap-1">
    {#if matrix}
        {#each matrix as row, row_idx}
            {#each row as elem, elem_idx}
                <div class='force-shown' on:click={() => onClickCell(row_idx, elem_idx)}>
                    <Piece color={elem}/>
                </div>
            {/each}
        {/each}
    {/if}
</div>

<style>
    .force-shown {
        width: 38.4px;
        height: 38.4px;
    }
</style>