<script>
    import Grid from "./Grid.svelte";

    export let pieces = new Array(3).fill(0).map(() => Array(5).fill(0).map(() => Array(5).fill(0)));  // .map(() => Array(5)).fill(0)
    export let onSelectPiece = () => {};
</script>


<div class="flex flex-row">
    <div class="flex-grow"></div>
    {#each pieces as render, i}
        <div on:click={() => onSelectPiece(i)}>
            <Grid matrix={render} hide_empty={true} cols={5} size={"48"}/>
        </div>
        <div class="flex-grow"></div>
	{/each}
</div>
