<script>
    import Icon from "./Icon.svelte";

    export let score = 0;

    let fileinput;
    let files;
    
    export let onFileSelected = () => {};
    export let onRestartGame = () => {};
    export let onDownloadGame = () => {};

</script>

<div class="flex flex-row">
    <div>
        <h1 class="text-slate-500 text-3xl leading-10" on:click={()=>{fileinput.click();}}>
            <Icon name='upload' width={'10'} height={'10'}/>
        </h1>
        <input
            bind:files
            style="display:none; width:0;"
            id="replay_upload"
            type="file"
            accept="json"
            bind:this={fileinput}
            on:change={()=>onFileSelected(files)}
        />
    </div>
    <div>
        <h1 class="text-slate-500 text-3xl leading-10" on:click={()=>{onDownloadGame()}}>
            <Icon name='download' width={'10'} height={'10'}/>
        </h1>
    </div>
    <div class="flex-grow"></div>
    <div>
        <h1 class="text-slate-500 text-3xl leading-10">
            Score: {score}
        </h1>
    </div>
    <div class="flex-grow">
    </div>
    <div on:click={onRestartGame}>
        <h1 class="text-slate-500 text-3xl leading-10">
            <Icon name='restart' width={'10'} height={'10'}/>
        </h1>
    </div>
</div>
