<script>
    export let name;
    export let width = "1rem";
    export let height = "1rem";
    export let focusable = false;
    
    let icons = [
        {
          box: 24,
          name: "restart",
          svg: `<path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />`
        },
        {
          box: 24,
          name: "upload",
          svg: `<path strokeLinecap="round" strokeLinejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />`
        },
        {
          box: 24,
          name: "download",
          svg: `<path strokeLinecap="round" strokeLinejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />`
        }
    ];
    let displayIcon = icons.find((e) => e.name === name);
</script>

<svg
    xmlns="http://www.w3.org/2000/svg" 
    {focusable}
    fill="none" 
    viewBox="0 0 {displayIcon.box} {displayIcon.box}" 
    stroke-width="1.5" 
    stroke="currentColor" 
    class="w-{width} h-{height}"
>
  {@html displayIcon.svg}
</svg>
