<script>
    export let color = 0;


    const class_lut = {
        100: 'bg-slate-900',
        0: 'bg-slate-800',
        1: 'bg-rose-500',
        2: 'bg-lime-400',
        3: 'bg-cyan-500',
        4: 'bg-violet-500',
        5: 'bg-pink-500',
        6: 'bg-blue-500',
        7: 'bg-yellow-400',
        8: 'bg-orange-500',
        9: 'bg-green-700',
    };
    
    // Hide shadow for empty cells
    $: shadow = (color === 100) ? 'opacity-0' : 'drop-shadow-md shadow-inner'
</script>


<div class="{class_lut[color]} h-full w-full rounded-md {shadow}">
</div>
